<div class="row">
    <div class="col-sm-9">

        <h1><%= @restaurant[:title] %></h1>
        <p><%= @restaurant[:location] %></p>

        <% for review in @reviews %>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my review -->
                            <% if @current_user && @current_user[:id] == review[:user_id] %>
                                (<a href="/reviews/<%= review[:id] %>/edit">edit</a> | <a href="/reviews/<%= review[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= review[:comments] %>
                </div>
            </div>
        <% end %>


        <p class="mt-5">
            <% if @current_user %>
                <a href="/restaurants/<%= @restaurant[:id] %>/reviews/new" class="btn btn-primary">Review</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to leave a review</a>
            <% end %>
        </p>
        <div class="container mt-5">
            <h1>Where 2?</h1>
            <iframe
                width="1000"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%=@maps_api_key%>
                    &q=<%= @lat_long %>&zoom=6" allowfullscreen>
             </iframe>
        </div>
    </div>
    <div class="col-sm-3">
        <h3>How many reviews so far?</h3>
        <p><%= @review_count %></p>
        <h3>Location</h3>
    </div>
</div>